<div class="contenedor">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">E-Commerce</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="sesionIniciada() == false; else elseBlock" class="navbar-nav ml-auto">
      <!----------------------------->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/IniciarSesion']" routerLinkActive="router-link-active">Iniciar Sesión</a>
          </li>
  
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/Registrarse']" routerLinkActive="router-link-active">Registrarse</a>
          </li>
  
          <li>
            <a [routerLink]="['/Carrito']" routerLinkActive="router-link-active">
              <mat-icon class="carrito">shopping_cart</mat-icon>
            </a>
          </li>
  
        </ul>
      </div>
      <!---------------------------->
    </div>
    <ng-template #elseBlock>
      <!---------->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="cerrarSesion()">Cerrar Sesion</a>
          </li>

          <!--Segun el tipo de cuenta (admin o comun) tienen una distinta cuenta-->
          <li class="nav-item active">
            <div *ngIf="sesionComun() == true; else elseBlock" class="navbar-nav ml-auto">
              <a class="nav-link" [routerLink]="['/usuario']" routerLinkActive="router-link-active">Cuenta</a>
            </div>
            <ng-template #elseBlock>
              <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active">Admin</a>
            </ng-template> 
          </li>
  
          <li>
            <a [routerLink]="['/Carrito']" routerLinkActive="router-link-active">
              <mat-icon class="carrito">shopping_cart</mat-icon>
            </a>
          </li>
  
        </ul>
      </div>
      <!----------->
    </ng-template> 
  </nav>

  <!--MENU DE MASCOTAS DESPEGABLE-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" > 
      <div class="navbar-nav">
        <ul *ngFor="let mascota of mascotas; let iMas = index" id="listaPrincipal">
          <li>
            
              <button mat-button [matMenuTriggerFor]="mascotas" id="diseñoMenu"
                class="navbar-toggler">{{mascota.nombreMascota}}</button>
            
            <mat-menu #mascotas="matMenu">
              <div *ngFor="let categoriax of categorias; let iCat = index" id="listaSecundaria">
                <!--
                Al ser un doble for va a mostrar muchas las cateristicas suyas y las demas mascotas, por lo tanto, solo se
                seleccionan para mostrar las que estan en la misma posicion que en el arreglo de mascotas
                -->
                <ng-template [ngIf]="iMas == iCat">
                  <div *ngFor = "let categoria of categoriax">
                    <p class="categoria">
                      <a id="diseñoMenuCategoria" [routerLink]="['/mascotas',mascota.idMascota,categoria.idCategoria]" routerLinkActive="router-link-active" >
                       {{categoria.nombreCategoria}}
                      </a>  
                    </p>
                  </div>
                </ng-template>
                
              </div>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
    <form class="d-flex input-group w-auto">
      <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search"/>
      <button class="btn btn-outline-primary" type="button" id="searchProd" data-mdb-ripple-color="dark"> <i class="fas fa-search"></i> </button>
    </form>
  </nav>
</div>
