<div class="container bootstrap snippet">
    <div class="row">
        <hr>
        <div class="col-md-6">
            <h1>Herramientas de Administrador</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-tab-group class="diseñoMat">
                <mat-tab label="Usuarios Registrados">
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="form-group">
                                <div align="center">
                                    <table class="table table-responsive">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>NOMBRES</th>
                                                <th>APELLIDO PATERNO</th>
                                                <th>APELLIDO MATERNO</th>
                                                <th>RUT</th>
                                                <th>DIRECCION</th>
                                                <th>CORREO</th>
                                            </tr>
                                        </thead>
                                        <!-- (Si se hace la conexión con la base de datos debería funcar)
                                    <tr *ngFor="let usuario of usuarios">
                                        <td> {{ usuario.nombres     }} </td>
                                        <td> {{ usuario.apellidoP   }} </td>
                                        <td> {{ usuario.apellidoM   }} </td>
                                        <td> {{ usuario.rut         }} </td>
                                        <td> {{ usuario.direccion   }} </td>
                                        <td> {{ usuario.correo      }} </td>
                                      </tr>
                                      -->
                                    </table>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Reporte de Pedidos">
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="form-group">
                                <div align="center">
                                    <table class="table table-responsive">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>RUT</th>
                                                <th>NOMBRE PRODUCTO</th>
                                                <th>CANTIDAD</th>
                                                <th>PRECIO</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <!--Faltaría crear otra tabla en la base de datos para las compras-->
                                        <tr *ngFor="let producto of productos">
                                            <td> {{ producto.nombreProducto }} </td>
                                            <td> {{ producto.nombreProducto }} </td>
                                            <td> {{ producto.stockProducto }} </td>
                                            <td> {{ producto.precioProducto }} </td>
                                            <td> <button class="btn btn-danger"> X </button> </td>
                                        </tr>
                                    </table>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>