<div class="container bootstrap snippet">
    <div class="row">
        <hr>
        <div class="col-md-6">
            <h1>Herramientas de Administrador</h1>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-tab-group class="diseñoMat">
                <mat-tab label="Usuarios Registrados">
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="form-group">
                                <div align="center">
                                    <table class="table table-responsive">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>NOMBRES</th>
                                                <th>APELLIDO PATERNO</th>
                                                <th>APELLIDO MATERNO</th>
                                                <th>RUT USUARIO</th>
                                                <th>DIRECCION</th>
                                                <th>CORREO</th>
                                            </tr>
                                        </thead>
                                        
                                    <tr *ngFor="let usuario of usuarios">
                                        <td> {{ usuario.nombres     }} </td>
                                        <td> {{ usuario.apellidoP   }} </td>
                                        <td> {{ usuario.apellidoM   }} </td>
                                        <td> {{ usuario.rut         }} </td>
                                        <td> {{ usuario.direccion   }} </td>
                                        <td> {{ usuario.correo      }} </td>
                                      </tr>
                                      
                                    </table>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Reporte de Pedidos">
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="form-group">
                                <div align="center">
                                    <table class="table table-responsive">
                                
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>RUT USUARIO</th>
                                                <th>CODIGO DE ORDEN</th>
                                                <th>TOTAL A PAGAR</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        
                                       
                                        <tr *ngFor="let pedido of pedidos">
                                            <td> {{ pedido.rutUsuario }} </td>
                                            <td> {{ pedido.idOrden }} </td>
                                            <td> {{ pedido.totalApagar }} </td>
                                            <td> <button class="btn btn-danger" (click)="vermas(pedido.idOrden)"> VER MAS </button> </td>
                                        </tr>
                                    </table>
                                   

                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
</div>


<div *ngIf="seleccionar() == true">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h1>Información sobre los productos de la orden</h1>
            </div>
          
            <div>
                <div align="center">
                    <table class="table table-responsive">
                
                        <thead class="thead-dark">
                            <tr>
                                <th>NOMBRE PRODUCTO</th>
                                <th>CODIGO</th>
                                <th>CANTIDAD</th>
                                <th>PRECIO UNITARIO</th>
                            </tr>
                        </thead>

                        <tr *ngFor="let listadoInfoProducto of listadoInfoProductos">

                            <td> {{listadoInfoProducto.nombreProducto[0].nombreProducto}} </td>
                            <td> {{listadoInfoProducto.idProducto }} </td>
                            <td> {{listadoInfoProducto.cantidad }} </td>
                            <td> {{listadoInfoProducto.precioProducto}}</td>
                        </tr>
                    </table>
                    

                    <hr>
                </div>
            </div>
            <div>
                <button class="btn btn-danger" (click)="cerrrarVermas()"> CERRAR </button>
            </div>
      
        </div>
    </div>
<div>

        