<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="https://i.kym-cdn.com/photos/images/newsfeed/002/055/151/167.jpg" id="icon" alt="User Icon" />
      <h1>E-Commerce</h1>
    </div>

    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Correo Electrónico">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" value="Iniciar Sesión">
    </form>

    <div id="formFooter">
      <a href="#" class="ForgetPwd">Olvidaste tu contraseña?</a>
    </div>

  </div>
</div>