<!--Se listan todos los productos-->
<div class="container">
  <div>
    <!--Se muestra el componente de filtrar-->
    
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4" style="margin-bottom: 2%;" *ngFor="let producto of productos; let i = index">
      <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justity-content-between align-items-center">
          {{producto.nombreProducto}}
        </div>
        <a [routerLink]="['/producto/{{producto.idProducto}}']" routerLinkActive="router-link-active" >
          <img [src]=producto.imagenProducto class="card-img-top" id="imagenProd" />
        </a>
        
        
     

          <!--Si no tiene una sesion iniciada no se pueden agregar productos al carrito-->
          <div *ngIf="sesionIniciada() == true; else elseBlock">
            <a [routerLink]="['/Carrito']" routerLinkActive="router-link-active" (click)="agregarAlCarrito(i)">
              <button class="btn btn-danger" id="deleteProd">
                Agregar al carrito
              </button>
            </a>
          </div>
          <ng-template #elseBlock>
            <button class="btn btn-danger" id="deleteProd" disabled>
              Agregar al carrito 
            </button>
          </ng-template>  
          
        
      </div>
    </div>
  </div>
</div>