<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4 " >
        <div class="row ">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Acerca de nosotros:</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a class="btn btn-primary btn-floating m-1" id="RSS" href="#!"role="button">
                            <i class="fab fa-github"> Github</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-floating m-1" id="RSS" href="#!"role="button">
                            <i class="fab fa-instagram"> Instagram</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-floating m-1" id="RSS" href="#!"role="button">
                            <i class="fab fa-discord"> Discord</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright: ICI 4240 Ingeniería Web 
    </div>
    <!-- Copyright -->
</footer>